Plug 'vim-surround'

" Set default register to system clipboard
set clipboard=unnamedplus
set clipboard+=unnamed

" Enable line numbers
set number
set relativenumber

" Set padding when moving around
set so=10

" Map leader to <Space>
let mapleader = " "

" Bind for saving and :noh
noremap <Leader>s :noh<CR>:w<CR>

" Bind <Home> button to move to first non-blank character
noremap <Home> ^
inoremap <Home> <Esc>^i

" Bind for changing buffers
noremap <Leader>y :bn<CR>
noremap <Leader>l :bp<CR>

" Bind for closing buffers
noremap <Leader>d :bd<CR>

" Bind for changing windows
noremap <Leader>n <C-w>h
noremap <Leader>e <C-w>j
noremap <Leader>u <C-w>k
noremap <Leader>i <C-w>l

" Bind for changing window size (vidjet za ovo!!)
noremap <Leader><C-Left> 20<C-w><
noremap <Leader><C-Down> 10<C-w>-
noremap <Leader><C-Up> 10<C-w>+
noremap <Leader><C-Right> 20<C-w>>

" Bind <Control> + arrows to move further
noremap <C-Up> 10<Up>
noremap <C-Down> 10<Down>

" Binds for copying and deleting whole files
noremap yaa mtggyG`t
noremap daa mtggdG`t
noremap vaa mtggVG
